body{
    background-color: yellow;
}

@media (max-width:512px){
    .card{
        margin-left: 50px;
        margin-top: 150px;
        width: 400px;
    }

}
@media (min-width:513px){

.card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 250px;
        margin-left: 40%;
        margin-right: 40%;
        
        width: 400px;
    }
}

.card-title{
 font-size: 400%;
    
}